html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: lightgrey;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: white;
    border: 1px solid #ccc;
}

.graph-title {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    color: #333;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}


/* The Drawer (background) */
.drawer {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    overflow-x: hidden;
}

.drawer-content {
    padding: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
