html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: lightgrey;
}

#container {
    width: 100vw;
    height: 100vh;
    background: white;
}

/* The Drawer (background) */
.drawer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0; /* Align to the right side */
    top: 0;
    width: 30%; /* Adjust width as needed */
    height: 100%; /* Full height */
    background-color: white; /* Drawer background color */
    box-shadow: -2px 0 5px rgba(0,0,0,0.5); /* Shadow for better visibility */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.drawer-content {
    padding: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
